@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

header {
  background: #fff;
}

.container {
  width: 82.5%;
  max-width: 1320px;
  margin: 0 auto;
}

.banner {
  background-image: url("../resources/Banner\ Image.png");
  height: 600px;
  margin-top: 50px;
  border-radius: 16px;
}
.container-contain {
  text-align: center;
  padding: 177px 344px;
}
.container-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.container-discription {
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

/* discount - section styles */

.discount {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;

}

#off{
  color: 	#ff1493;
}
.discount .discount-head {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-top: 120px;
  margin-bottom: 48px;
}
.discount .discount-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.discount .discount-discription {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 48px;
}

.discount-img {
  background-image: url("../resources/New\ Year\ Photo.png");
  height: 500px;
}

/* party section styles */

.party-banner {
  background-image: url("../resources/Vectorrr.png");
  height: 600px;
  display: flex;
  margin: 120px auto;
}

.party-contain {
  margin: 126px 95px 140px 126px;
}
.party-head {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}
.party-discription {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 50px;
}
.party-contain .party-join {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.party-img {
  margin: 70px auto;
  margin-right: 168px;
}

/* date-line saction styles */

.dateline-banner {
  height: 482px;
  background: rgba(255, 0, 0, 0.05);
}

.date-contain {
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  padding-top: 100px;
}
.dateline-banner span {
  color: #f00;
}
.dateline-banner .btn {
  margin: auto 578px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
  margin-top: 50px;
}

/* coming offer section styles */

.offer-banner {
  display: flex;
  height: 470px;
  margin: 130px auto;
  justify-content: space-between;
  background: #fff;
}

.offer-banner .offer-contain {
  padding: 100px 70px 100px 0;
}

.offer-contain .offer-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.offer-contain .offer-head {
  color: #05c7f7;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 22px;
}
.offer-contain .offer-discription {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
}

.offer-banner .offer-img {
  width: 364px;
  height: 364px;
  border-radius: 50%;
  padding: 10px;
  border: 15px solid red;
  margin-right: 120px;
}

.offer-year {
  margin-top: 100px;
}
.offer-year .offer-year-title {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.offer-year-dis {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* holly offer section styles */

.holiday-banner {
  height: 925px;
}

.holiday-contain {
  text-align: center;
}
.holiday-contain .holiday-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-contain .holiday-head {
  color: rgb(247, 6, 6);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 28px;
}
#holiday-head {
  color: #070211;
}
.holiday-dis {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin: auto 133px;
}
.holiday-img {
}
.holiday-img .img-1 {
  position: relative;
  top: 190px;
  left: 30px;
  width: 550px;
}
.holiday-img .img-2 {
  position: relative;
  left: 150px;
  bottom: 50px;
}

.holiday-backg {
  background-image: url("../resources/Rectangle\ 2.png");
  height: 229px;
}

/* portfolio section styles */

.portfolio-banner {
  height: 1164px;
  margin-top: 120px;
}
.portfolio-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-head {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 22px;
}
.portfolio-dis {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-right: 309px;
  margin-bottom: 50px;
}
.portfolio-img {
  display: flex;
}
.images {
  border-radius: 16px;
  transition: 1s;

}
.images:hover{
  transform: scale(1.3);
  z-index: 2;
}

.imggg {
  margin: auto 20px;
}

/* form section styles */

.form-banner {
  margin-top: 120px;
  height: 620px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.form-contain {
  text-align: center;
  padding-top: 80px;
}
.form-contain .form-head {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 25px;
}
.form-dis {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}
.form-contain form {
}
.form-input {
  width: 448px;
  height: 42px;
  border: none;
  border-radius: 50px;
  background: #fff;
  padding-left: 20px;
}
.form-submit {
  position: relative;
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  right: 25px;
}


/* footer baner section  */

footer{
  width: 100%;
  margin-top: 120px;
  height: 600px;
  background: #070211;
}
.footer-contain{
  display: flex;
  justify-content: space-between;
}
.address{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
padding-top: 120px;
padding-right: 500px;
}

.contrac{
  padding-top: 120px;
}
.contrac a{
color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

footer hr{
  margin-top: 70px;
  background: rgba(255, 255, 255, 0.15);
}
.footer-img{
  text-align: center;
  margin: 60px auto;
}

.right{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 50px;
}
